<span class="span-666 margin-top-1 margin-bottom-1">
	<span class="span-666 font16 bold_font margin-left-2" style="color:#BFB8E5;line-height:35px;">
		Conditions
	</span>
	<span class="span-61 margin-left-3 margin-top-1" style="color:#BFB8E5;font-size: 14px;line-height: 22px">
		<p>
			The following terms and conditions are between Dynonamics, a service of Whowish Ltd., and the customer (hereinafter referred to as "users").
		</p>
	</span>
	<span class="span-56 margin-left-5 margin-top-1" style="color:#BFB8E5;font-size: 14px;line-height: 22px">
		<p>
			1. Users allow Dynonamics to adjust dynos and/or workers up and down. 
		</p>
		<p>
			2. Users allow Dynonamics to adjust their personal dynonamics setting (the setting of their dyno and worker) if it is deemed necessary. For example, users may have incorrect or inefficient settings that Dynonamics can adjust to make the program work more efficiently. 
		</p>
	</span>
	<span class="span-666 hr margin-top-1">
	</span>
</span>
<span class="span-666 margin-top-1 margin-bottom-1" style="color:#72859e;">
	<span class="span-666 font16 bold_font margin-left-2" style="color:#BFB8E5;line-height:35px;">
		Privacy
	</span>
	<span class="span-61 margin-left-3 margin-top-1" style="color:#BFB8E5;font-size: 14px;line-height: 22px;">
		<p>
			Dynonamics affirms that <b>it does NOT retain the passwords of users</b>. Users grant Dynonamics the permission to store personal information, including email, API key, and application name. Users grant Dynonamics access to their password only at the beginning until Heroku verifies Dynonamics and provides an API key which permits Dynonamics to adjust the dynos of the user. After this verification process is complete, Dynonamics will permanently discard the password in question. For additional security, users can change their password after Dynonamics has been verified.
		</p>
	</span>
	<span class="span-666 hr margin-top-1">
	</span>
</span>
<span class="span-666 margin-top-1 margin-bottom-1" style="color:#72859e;">
	<span class="span-666 font16 bold_font margin-left-2" style="color:#BFB8E5;line-height:35px;">
		Limitation of liability
	</span>
	<span class="span-61 margin-left-3 margin-top-1" style="color:#BFB8E5;font-size: 14px;line-height: 22px;">
		<p>
			Dynonamics will under no circumstance be liable for indirect, special, or consequential damages including personal injury or any loss of business, revenue, profits, or data in relation to the use of Dynonamics.
		</p>
	</span>
	<span class="span-666 hr margin-top-1">
	</span>
</span>
<span class="span-666 margin-top-1 margin-bottom-1" style="color:#72859e;">
	<span class="span-666 font16 bold_font margin-left-2" style="color:#BFB8E5;line-height:35px;">
		Copyright
	</span>
	<span class="span-61 margin-left-3 margin-top-1" style="color:#BFB8E5;font-size: 14px;line-height: 22px;">
		<p>
			All intellectual property of Dynonamics such as trademarks, trade names, patents, registered designs and any other automatic intellectual property rights derived from the aesthetics or functionality of the program remain the property of Whowish.
		</p><br/>
		<p>
			By using Dynonamics you agree to respect the intellectual property rights of Whowish and will refrain from copying, downloading, transmitting, reproducing, printing, or exploiting for commercial purpose any material contained within program.
		</p>
	</span>
	<span class="span-666 hr margin-top-1">
	</span>
</span>
<span class="span-666 margin-top-1 margin-bottom-1">
	<span class="span-666 font16 bold_font margin-left-2" style="color:#BFB8E5;line-height:35px;">
		Disclaimers
	</span>
	<span class="span-61 margin-left-3 margin-top-1" style="color:#BFB8E5;font-size: 14px;line-height: 22px">
		<p>
			1. The information provided by Dynonamics is provided on an "as is" basis with no warranties expressed or otherwise implied relating to the accuracy, fitness for purpose, compatibility or security of any components of the program.
		</p><br/>
		<p>
			2. We do not guarantee uninterrupted availability of Dynonamics. Dynonamics does not guarantee that the adjustment of dynos and/or workers will be free of error. The program is intended to help users save cost in dynos and/or workers as much as possible. Despite possible errors in adjustment, users may still save costs versus not using the program at all. Dynonamics is not responsible for adjustment errors that may occur during the program’s use, nor for any errors which may appear in the report that includes those adjustment details. Users must use their own judgement when taking actions based on the data in the reports. Dynonamics is not liable for any damages, errors, or problems resulting from the actions that users take based on the data from the Dynonamics report.
		</p><br/>
	</span>
	<span class="span-666 hr margin-top-1">
	</span>
</span>

